@use "../../styles/index" as *;

.summary {
  margin-top: 20px;
  width: 300px;
  margin-left: auto;

  .row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 14px;
    color: $text-dark;
  }

  .total {
    font-size: 20px;
    font-weight: 700;
    border-top: 1px solid $border;
    padding-top: 10px;
    margin-top: 6px;
  }
}
