@use "../../styles/index" as *;

.upload-logo {
  margin: auto 0;
  border: 2px dashed $border;
  width: 260px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $primary-blue;
  font-size: 14px;
  cursor: pointer;

  small {
    color: $text-muted;
    font-size: 11px;
  }
}
