@use "../../styles/index" as *;


// @import "../../styles/mixins";

.upload-logo {
  @include card;
  padding: 20px;
  border-style: dashed;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}
